body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #171717;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Poppins", sans-serif;

}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 50px;
    color: rgb(255, 255, 255);
    font-family: "Ruslan Display", sans-serif;
    animation: blink 12s infinite;
    -webkit-animation: blink 12s infinite;
    text-shadow: 0 0 5px #FEBE10, 0 0 1px #FEBE10, 0 0 20px #FEBE10, 0 0 40px rgb(0, 78, 155), 0 0 60px #FEBE10, 0 0 10px rgb(0, 78, 155), 0 0 98px #FEBE10;
    color: rgb(0, 78, 155);
    padding-bottom: 20px;
    
}

#chat-container {
    width: 60%;
    height: 90%;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    padding: 0px 20px 20px 20px;
    padding-left: 75px;
    padding-right: 75px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto;
}

#chat-box {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding-right: 10px;
    scrollbar-width: none;
    padding-bottom: 5px;
}

#chat-box div {
    margin-bottom: 5px;
}

#chat-form {
    display: flex;
    align-items: center;
}

#user-input {
    flex: 1;
    background-color: #f9f9f9;
    border: 0.5px solid  #fff;
    padding: 8px;
    font-size: 30;
    border-radius: 5px;
    margin-right: 10px;
    color: rgb(0, 78, 155);
    font-weight: bolder;
}
#user-input:focus{
    outline: none;
}
button {
    padding: 8px 16px;
    background-color: rgb(0, 78, 155);
    color: #FEBE10;
    border: none;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background-color: #FEBE10;
    color:rgb(0, 78, 155) ;
}

.user-message {
    align-self: flex-end;
    background-color:#FEBE10;
    color:rgb(0, 78, 155);
    border-radius: 10px 0 10px 10px;
    padding: 5px 10px;
    margin-bottom: 5px;
    max-width: 60%;
    font-weight: bolder;
    word-wrap: break-word;
}

.bot-message {
    background-color: rgba(222, 222, 222, 0.8);
    color: rgb(0, 78, 155);
    border-radius: 0px 10px 10px 10px;
    padding: 10px 10px;
    margin-bottom: 5px;
    word-wrap: break-word;
}

.load {
display: none;
border-radius: 50%;
flex-direction: row;
padding-right: 10px;
}

.progress {
width: 0.5em;
height: 0.5em;
margin: 0.4em;
scale: 0;
border-radius: 50%;
background: #FEBE10;
animation: loading_492 2s ease infinite;
animation-delay: 1s;
}

@keyframes loading_492 {
50% {
    scale: 1;
}
}

.progress:nth-child(2) {
animation-delay: 1.3s;
}

.progress:nth-child(3) {
animation-delay: 1.7s;
}
.video-background {
position: absolute;
top: 0;
left: 0;
height: 100%;
width: 100%;
overflow: hidden;
z-index: -1;
}

#background-video {
position: absolute;
top: 50%;
left: 50%;
width: 100%;
height: 100%;
-webkit-transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
object-fit: cover;
}


